/*
 *   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.ic-forum {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 28px;
  height: 20px;
  background-position: 0 0; }
  .ic-forum:hover {
    display: inline-block;
    vertical-align: middle;
    background: url("../img/sprite.png") no-repeat;
    width: 28px;
    height: 20px;
    background-position: 0 -20px; }

.google {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 25px;
  height: 16px;
  background-position: 0 -40px; }

.ic-journey {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 20px;
  height: 20px;
  background-position: 0 -56px; }
  .ic-journey:hover {
    display: inline-block;
    vertical-align: middle;
    background: url("../img/sprite.png") no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0 -76px; }

.ic-calendar {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 19px;
  height: 19px;
  background-position: 0 -96px; }
  .ic-calendar:hover {
    display: inline-block;
    vertical-align: middle;
    background: url("../img/sprite.png") no-repeat;
    width: 19px;
    height: 19px;
    background-position: 0 -115px; }

.facebook {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
  width: 10px;
  height: 20px;
  background-position: 0 -134px; }

body {
  font-size: 14px;
  font-family: Verdana, sans-serif; }

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  padding: 18px 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: fixed;
  width: 100%; }
  .header .container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-logo {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600; }
    .header-logo:hover {
      color: #3cb878; }
  .header-menu {
    margin-left: auto;
    list-style: none; }
    .header-menu__item {
      display: inline-block;
      margin-left: 25px; }
      .header-menu__item:first-child {
        margin-left: 0; }
  .header-user {
    margin-left: 50px; }
    .header-user__link {
      color: #3cb878; }
      .header-user__link:hover {
        text-decoration: underline; }

.main {
  height: 100vh;
  background: url(../img/main-bg.jpg) no-repeat center;
  background-size: cover; }
  .main .container {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main form {
    padding: 30px 60px;
    width: 457px;
    background-color: #fff;
    border-radius: 5px;
    position: relative; }
    .main form .form-enter {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main form .form-enter img {
        position: absolute;
        left: 0; }
      .main form .form-enter__link {
        color: #3cb878; }
        .main form .form-enter__link:hover {
          text-decoration: underline; }
        .main form .form-enter__link.active {
          color: #434343;
          font-size: 20px; }
          .main form .form-enter__link.active:hover {
            text-decoration: none; }
    .main form .social {
      margin-top: 15px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .main form .social-text {
        color: #fff;
        text-align: center;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .main form .social-facebook, .main form .social-googlePlus {
        width: 49%;
        height: 46px;
        border-radius: 3px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .main form .social-facebook {
        background-color: #264b96; }
      .main form .social-googlePlus {
        background-color: #c3412c; }
      .main form .social-icon {
        width: 50px;
        text-align: center;
        position: relative; }
        .main form .social-icon::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 1px;
          height: 28px;
          background-color: rgba(0, 0, 0, 0.2); }
    .main form .registration {
      margin: 30px 0 15px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main form .registration .line {
        width: 100%;
        height: 1px;
        background-color: #eaeaea; }
      .main form .registration .text {
        padding: 0 20px;
        color: #848484; }
    .main form .form-control {
      margin-bottom: 9px;
      padding: 0 17px;
      display: block;
      width: 100%;
      height: 46px;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      color: #434343; }
      .main form .form-control::-webkit-input-placeholder {
        color: #bebebe; }
      .main form .form-control:focus {
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21); }
    .main form #checkbox {
      display: none; }
    .main form #checkbox:checked + label::before {
      background: url(../img/checkbox.png) no-repeat center; }
    .main form label a {
      color: #3cb878; }
      .main form label a:hover {
        text-decoration: underline; }
    .main form label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      vertical-align: middle;
      margin: 20px 10px 25px 0; }
    .main form .btn {
      display: block;
      border: none;
      border-radius: 3px;
      background-color: #3cb878;
      height: 46px;
      width: 100%;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .main form .btn:hover {
        color: #fff;
        background-color: #2f925f; }
