<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Milan Holidays
		link(rel="stylesheet", href="css/main.css")
	body
		.container
			header.header
				a.logo(href="index.html")
					i.ic-logo
					span.logo__text
						span.logo__text--milan Milan
						span.logo__text--holidays Holidays
				.header__contacts
					a(href="mailto:tours@milanoholidays.com").header__email tours@milanoholidays.com
					a(href="tel:+393387090880").header__phone +39 338 709 0880
			section.main
				.content
					.content__item
						.content__img
							a(href="#")
								img(src="img/img1.jpg", alt="Shopping Tours")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title
							a(href="#") Shopping Tours
					.content__item
						.content__img
							a(href="#")
								img(src="img/img2.jpg", alt="Sightseeing Tours")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title 
							a(href="#") Sightseeing Tours
					.content__item
						.content__img
							a(href="#")
								img(src="img/img3.jpg", alt="Food Tours")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title 
							a(href="#") Food Tours
					.content__item
						.content__img
							a(href="#")
								img(src="img/img4.jpg", alt="Bars & Nightlife")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title 
							a(href="#") Bars &amp; Nightlife
					.content__item
						.content__img
							a(href="#")
								img(src="img/img5.jpg", alt="Art & Architecture")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title 
							a(href="#") Art &amp; Architecture
					.content__item
						.content__img
							a(href="#")
								img(src="img/img6.jpg", alt="Walking Tours")
								.content__info
									.content__price from
										span.price &euro;50
									.content__veiw View Details
						h4.content__title 
							a(href="#") Walking Tours
			footer.footer
				p.copywright &copy; 2018 Copyright Milan Holidays, Inc. All rights reserved.